@page
@model IndexModel
@{
    ViewData["Title"] = "Trang Chủ";
}

<div class="text-center">
    <h1 class="display-4">Chào Mừng</h1>
    <p>Tìm hiểu về <a href="https://learn.microsoft.com/aspnet/core">xây dựng ứng dụng Web với ASP.NET Core</a>.</p>
</div>
